%h2 Resend unlock instructions

= simple_form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post, :class => 'form-horizontal' }) do |f|
  = f.error_notification
  = f.full_error :unlock_token

  = f.input :email, :required => true, :autofocus => true

  .controls
    = f.button :submit, "Resend unlock instructions"

= render "devise/shared/links"