= form_for @failure_report do |f|
  - if @failure_report.errors.any?
    #error_explanation
      %h2= "#{pluralize(@failure_report.errors.count, "error")} prohibited this failure_report from being saved:"
      %ul
        - @failure_report.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :unit
    = f.text_field :unit
  .field
    = f.label :subject
    = f.text_field :subject
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :rma
    = f.text_field :rma
  .field
    = f.label :failcode
    = f.number_field :failcode
  .actions
    = f.submit 'Save'
