= simple_form_for(@failure_report, html: {class: 'form-horizontal' }, defaults: { input_html: { class: 'input-xlarge' } }) do |f|
  = f.error_notification
  = f.association :unit, hint: "The unit's serail number", label_method: :serial
  = f.input :subject, hint: "Must be at least 15 characters"
  = f.input :description, :input_html => { :rows => 10 }
  = f.input :rma, label: "RMA number"
  = f.input :failcode, hint: "Must be an integer"
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to 'Destroy', @failure_report, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-danger" if @failure_report.persisted?
    = bootstrap_button "Cancel", @cancel_path
