%h1 Listing failure reports

%table.table
  %tr
    %th Author
    %th Unit
    %th Subject
    %th RMA
    %th Failcode
    %th

  - @failure_reports.each do |failure_report|
    %tr
      %td= failure_report.author.email
      %td= link_to failure_report.unit.serial, failure_report.unit
      %td= failure_report.subject
      %td= failure_report.rma
      %td= failure_report.failcode
      %td
        = link_to 'Show', failure_report, :class => "btn"
        = link_to 'Edit', edit_failure_report_path(failure_report), :class => "btn"
        = link_to 'Destroy', failure_report, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-danger"

%br

= link_to 'New Failure report', new_failure_report_path, :class => "btn btn-primary"
