.pull-right
  = bootstrap_button 'Edit', edit_failure_report_path(@failure_report), :icon => 'icon-edit'
  = bootstrap_button 'Corrective action', '', :type => 'btn-primary', :icon => 'icon-check', :icon_white => true, :disabled => true

%dl.dl-horizontal
  %dt Author:
  %dd= @failure_report.author.email
  %dt Unit:
  %dd= link_to @failure_report.unit.serial, @failure_report.unit
  %dt Subject:
  %dd= @failure_report.subject
  %dt Description:
  %dd= @failure_report.description
  %dt RMA:
  %dd= @failure_report.rma
  %dt Failcode:
  %dd= @failure_report.failcode
