= simple_form_for(@unit, html: {class: 'form-horizontal' }) do |f|
  = f.error_notification

  = f.input :part
  = f.input :serial
  -#= f.association :contract, label_method: :name

  .form-actions
    = f.button :submit, :class => "btn-primary"
    = bootstrap_button "Cancel", @cancel_path
