%h1 Listing units

%table.table
  %tr
    %th Part
    %th Serial
    %th Contract
    %th

  - @units.each do |unit|
    %tr
      %td= unit.part
      %td= unit.serial
      %td= unit.contract
      %td
        = link_to 'Show', unit, :class => "btn"
        = link_to 'Edit', edit_unit_path(unit), :class => "btn"
        = link_to 'Destroy', unit, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-danger"

%br
= link_to 'New unit', new_unit_path, :class => "btn btn-primary"
