%p.pull-right
  = bootstrap_button 'Export', '', :icon => "icon-download-alt", :disabled => true
  = bootstrap_button 'New unit', new_unit_path, :type => "btn-primary", :icon => "icon-plus", :icon_white => true

%h1 Listing units

%table.table
  %tr
    %th Part
    %th Serial
    %th Contract
    %th

  - @units.each do |unit|
    %tr
      %td= unit.part
      %td= unit.serial
      %td= unit.contract
      %td
        .pull-right
          = bootstrap_button 'Edit', edit_unit_path(unit), :icon => 'icon-pencil'
          = bootstrap_button 'Show', unit
