.pull-right
  = bootstrap_button 'Edit', edit_unit_path(@unit), :icon => 'icon-pencil'
  = bootstrap_button 'History', '', :type => "btn-primary", :icon => "icon-th-list", :icon_white => true, :disabled => true

%dl.dl-horizontal
  %dt Part:
  %dd= @unit.part
  %dt Serial:
  %dd= @unit.serial
  %dt Contract:
  %dd= @unit.contract
